In [5]:
# Problem 1: Convert a string representing a number into an integer
string_number = "25"
# Expected output: 25 as an integer

In [6]:
type(string_number)

str

In [7]:
int_number = int(string_number)
print(int_number, type(int_number))

25 <class 'int'>

In [8]:
# Problem 2: Convert a float number into a string
float_number = 3.14159
# Expected output: "3.14159" as a string

In [9]:
str_pi = str(float_number)
print(str_pi, type(str_pi))

3.14159 <class 'str'>

In [10]:
# Problem 3: Convert a boolean value into an integer
is_active = True
# Expected output: 1 (True -> 1, False -> 0)

In [11]:
type(is_active)

bool

In [12]:
str_bool = str(is_active)
print(str_bool, type(str_bool))

True <class 'str'>

In [13]:
eggs_day1 = 12
eggs_day2 = 10
eggs_day3 = 8

total_eggs_bought = eggs_day1 + eggs_day2 + eggs_day3

print("Total number of eggs bought:", total_eggs_bought)

Total number of eggs bought: 30

In [14]:
used_day1 = 5
used_day2 = 6
used_day3 = 4

total_eggs_used = used_day1 + used_day2 + used_day3

print("Ttotal number of eggs used:", total_eggs_used)

Ttotal number of eggs used: 15

In [15]:
remaining_eggs = total_eggs_bought - total_eggs_used

print("Remaining number of eggs:", remaining_eggs)

Remaining number of eggs: 15

# Uderstading Expressions

In [16]:
a = 5
b = 3
print(a + b) # Adds 5 and 3
x = 5
k = x * 7
print(k) #  Multiplies the value of x by 7
c = (a + b)/2
print(c) # Calculates the average of a and b 
print(len("Hello"))

8
35
4.0
5

# Uderstading Variables

In [17]:
# Example 1 : Storing the result of a simple expression
result = 5 + 3
print(result) # Output : 8

8

In [18]:
# Example 2 : Using Variables in expressions
a = 10
b = 20
sum_value = a + b
print(sum_value) # output: 30

30

# Integer Data Types

In [20]:
age = 25 # Positive Integers
temperature = -10 #Negative Integers
population = 7800000000 #Large Integers
print(age,temperature,population)

25 -10 7800000000

# Float Data Types

In [21]:
pi = 3.14159 #Value of pi
price = 19.99 # product price
scientific_notation = 1.5e2 #Equivalent To 150.0
print(pi,price,scientific_notation)

3.14159 19.99 150.0

# String Data Types

In [22]:
Name = "Alice" # Double Quotes
Greeting = 'Hello World!' # Single Quotes
multiline_text = """This is a multi-line string""" #Triplr quotes
print(Name, Greeting, multiline_text)

Alice Hello World! This is a multi-line string

# Boolean Data Types

In [23]:
is_valid = True # Boolean variable
comparison = 10 > 5 # Evaluates to true
empty_check = bool("") #Evaluates to false
print(is_valid,comparison,empty_check)

True True False

# Types Casting

In [26]:
# Integer to float 
num = 10
print(float(num)) # Output: 10.0

# Float integer 
pi = 3.14
print(int(pi)) #output: 3

# String to Integer 
text = "123"
print(int(text)) #output: 123

# Any to Boolean
is_empty = bool("") 
print(is_empty) #Output: False

10.0
3
123
False

# String Formats

In [27]:
# Forward Indexing
My_string = "Python"
# Position : P y t h o n 
# Index:     0 1 2 3 4 5

In [28]:
print(My_string[0]) # Output: "P"
print(My_string[3]) # Output: "h"

P
h

In [29]:
# Backword Indexing
my_string = "Python"
# Position : P   y  t  h  o  n 
# Negative:  -6 -5 -4 -3 -2 -1

In [30]:
print(my_string[-1]) # Output: "n"
print(my_string[-4]) # Output: "t"

n
t

In [31]:
#Slicing Method for Strings
my_string = "Programing"
sliced = my_string[0:6]
print(sliced) # Output: "Progra"

Progra

In [1]:
# Striding Method for strings
my_string = "Programing"
strided = my_string[0:11:2] # Skips every second character
print(strided) # output: "pormn"

Pormn

# Len() Function for strings

In [2]:
my_string = "Python"
print(len(my_string)) # output: 6

6

# Concatenation of Strings

In [4]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2 # adds a space between strings
print(result) # output: "Hello World"

Hello World

In [6]:
# Escap Sequence in string
print("Hello\nWorld") # Output: Hello (Newline) World
print("python\tprograming") # output: python (tab) programing

Hello
World
python	programing

# Upper() & Lower() for strings

In [7]:
my_string = "Python"
print(my_string.upper()) # output: "PYTHON"
print(my_string.lower()) # output: "python"

PYTHON
python

# Replace() Function for strings

In [8]:
my_string = "I Love Python"
replaced = my_string.replace("Python","Programing")
print(replaced) # Output: "I Love Programing"

I Love Programing

In [9]:
python = "PYTHON"

fourth_python = python[3]
fourth_python

'H'

In [10]:
secondlast_python = python[-2]
secondlast_python

'O'

In [11]:
thon = python[2:6]
thon

'THON'

In [12]:
everysecond_char = python[0:5:2]
everysecond_char

'PTO'

In [13]:
string = "Hello, World!"

len(string)

13

In [14]:
complete = "Hello" + " " + "World"
complete

'Hello World'

In [15]:
print("Hello\n\tWorld")

Hello
	World

In [16]:
regular = "Python Programming" 

print(regular.upper())
print(regular.lower())

PYTHON PROGRAMMING
python programming

In [17]:
sentence = "I love Python."

new_sentence = sentence.replace("Python", "Java")
new_sentence

'I love Java.'

# Tupple

In [1]:
# Define the nested tuple
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

last_element = nested_tuple[1][2]
last_element

6

In [8]:
# Define the Tupple
fruits = ("apple", "banana", "cherry")
print(fruits) # Output: ("apple", "banana", "cherry")

('apple', 'banana', 'cherry')

In [10]:
# Tuple Concatenation
tuple1 = (1,2,3)
tuple2 = (4,5,6)
result = tuple1+tuple2
print(result) #output: (1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [11]:
#Tuple Slicing
number = (10,20,30,40,50,60)
slice_result = number[1:4] # Extracts elements from index 1 to 3
print(slice_result) # output (20,30,40)

(20, 30, 40)

In [12]:
#nested tuple
nested = (("Apple","Banana"),(10,20,30),("X","Y","Z"))
print(nested[2]) #output: ('X', 'Y', 'Z')

('X', 'Y', 'Z')

In [13]:
#nested tuple
nested = (("Apple","Banana"),(10,20,30),("X","Y","Z"))
result = nested[1][0:2]
print(result) #output: (10,20)

(10, 20)

# list

In [3]:
# Define the nested list
nested_list = [["a", "b", "c"], [1, 2, 3], ["x", "y", "z"]]

last_list_element = nested_list[1][2]
last_list_element

3

In [4]:
# Define the list
numbers = [10, 20, 30, 40, 50]

numbers[-3:]

[30, 40, 50]

In [5]:
# Define the list
numbers = [10, 20, 30, 40, 50, 60]

numbers[1:5:2]

[20, 40]

In [6]:
# Define the list
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [7]:
# Define the list
fruits = ["apple", "banana", "cherry", "orange"]

fruits.remove("banana")
fruits

['apple', 'cherry', 'orange']

In [14]:
numbers = [1,2,3,4,5]
print(numbers) #output: [1,2,3,4,5]

[1, 2, 3, 4, 5]

In [15]:
# List Forward Slicing
Colors = ["Red","Green","Blue","Yellow"]
result = Colors[1:3]
print(result) #Output: ["Green","Blue"]

['Green', 'Blue']

In [16]:
# List Backward Slicing
Numbers = [10,20,30,40,50,60]
range_slice = Numbers[0:6:2]
print(range_slice) # Output: [10,30,50]

[10, 30, 50]

In [17]:
# Nested List Slicing
nested = (("Apple","Banana"),(10,20,30),("X","Y","Z"))
print(nested[0]) #output: ('Apple','Banana')

('Apple', 'Banana')

In [18]:
nested = (("Apple","Banana"),(10,20,30),("X","Y","Z"))
result = nested[2][0:2]
print(result) #output: ('X','Y')

('X', 'Y')

In [20]:
#List Item Add/Remove
numbers = [10,20,30]
numbers.append(40) # Add 40 to the end
print(numbers)#output: [10, 20, 30, 40]

[10, 20, 30, 40]

In [21]:
numbers.remove(20) #Remove 20
print(numbers) #output: [10,30,40]

[10, 30, 40]

# Dictioneries

In [22]:
# Dictionary
student = {"name": "Alice", "age": 20, "grade": "A", "city": "New York"}

print(student["name"])
print(student["grade"])

Alice
A

In [23]:
# Value Add
student["email"] = "alice@example.com"
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A',
 'city': 'New York',
 'email': 'alice@example.com'}

In [24]:
# Value Remove
del student["city"]

student

{'name': 'Alice', 'age': 20, 'grade': 'A', 'email': 'alice@example.com'}

In [25]:
# Dictionaries Extractions
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'grade', 'email'])
dict_values(['Alice', 20, 'A', 'alice@example.com'])
dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A'), ('email', 'alice@example.com')])

#  # If Condition

In [4]:
X = 10
if X > 5:
    print("X is greater Than 5")
# Output: "X is greater Than 5"

X is greater Than 5

In [1]:
#Branching 
age = 18
if age >= 18:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

Eligible to vote

In [4]:
# If Statement
# if Condition:
# Code to execute If condition is true

# Example
number = 7
if number % 2 == 1:
    print("The Number is odd")
# Output: The number is odd

The Number is odd

In [6]:
# if else statement
#if Conditio:
    #Code to execute if condition if true 
#else:
    # Code to execute if conditio if false

In [7]:
marks = 70
if marks >= 50:
    print("Pass")
else:
    print("fail")
#output: Pass

Pass

In [8]:
#if-elif-else statement 
score = 85
if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
else:
    print("Grade C")
#output: Grade B

Grade B

In [10]:
temprature = 35
if temprature < 0 or temprature > 30:
    print("Extrem Weather")
else:
    print("Normal Weathe")
#output: Extrem Weather

Extrem Weather

In [11]:
# if-else statement + and 
age = 25
income = 50000
if age > 18 and income > 30000:
    print("Eligible for loan")
else:
    print("Not Eligible for loan")
#output: Eligible for loan

Eligible for loan

In [1]:
animal_speed = 45

if animal_speed >= 60:
    print("Fast Runner")
elif 30 <= animal_speed <= 59:
    print("Moderate Runner")
else:
    print("Slow Mover")

Moderate Runner

In [2]:
child_age = 10
child_height = 135

if 3 <= child_age <= 12 and child_height < 140:
    print("Eligible for the discounted ticket")
else:
    print("Not Eligible")

Eligible for the discounted ticket

In [3]:
fuel_type = "Hybrid"
fuel_efficiency = 28

if fuel_type == "Hybrid" or fuel_type == "Electric":
    if fuel_type == "Hybrid" and fuel_efficiency >= 25:
        print("Eligible for the ecofriendy car race.")
    elif fuel_type == "Electric":
        print("Eligible for the ecofriendy car race.")
    else:
        print("Not eligible for the ecofriendly race.")

else:
    print("Not eligible for the ecofriendly race due to unsupported fuel type.")

Eligible for the ecofriendy car race.

# Loop

In [12]:
# For item in sequence
# Example
fruits = ["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [13]:
# Range() in for-loop
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [17]:
# Enumerate() in For-loop
# List of names
names = ["Alice","Bob","Charlie"]
# using enumerate to get index and value
for Acess, name in enumerate(names):
    print(f"Acess:{Acess},Name:{name}")

Acess:0,Name:Alice
Acess:1,Name:Bob
Acess:2,Name:Charlie

In [16]:
# While-Loop Example
numbers = []
i = 1
while i <= 5:
    numbers.append(i)
    i += 1
print(numbers)

[1, 2, 3, 4, 5]

In [18]:
# List of names
names = ["Alice", "Bob", "Charlie", "Diana"]

for name in names:
    print(f"Welcome to the team, {name}")

Welcome to the team, Alice
Welcome to the team, Bob
Welcome to the team, Charlie
Welcome to the team, Diana

In [19]:
# List of tasks
tasks = ["Wash the dishes", "Clean the room", "Do the laundry", "Prepare dinner"]

for index, task in enumerate(tasks, start = 1):
    print(f"Task {index}: {task}")

Task 1: Wash the dishes
Task 2: Clean the room
Task 3: Do the laundry
Task 4: Prepare dinner

In [20]:
even_numbers = []
num = 2

while num <= 10:
    even_numbers.append(num)
    num += 2

print(even_numbers)

[2, 4, 6, 8, 10]

In [21]:
# List of numbers
numbers = [10, -5, 0, 23, -7, 0, 15, -3]

for num in numbers:
    if num > 0:
        print(f"{num}: Positive number")
    elif num < 0:
        print(f"{num}: Negative number")
    else:
        print(f"{num}: zero")

10: Positive number
-5: Negative number
0: zero
23: Positive number
-7: Negative number
0: zero
15: Positive number
-3: Negative number